<app-layout>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 p-5">
                <h4 class="text-primary">Add Event</h4>
                <app-event></app-event>
            </div>
            <div class="col-6">
                <app-fullcalendar class="p-5"></app-fullcalendar>
            </div>
            <div class="col-3 p-5">
                <h4 class="text-danger">Add Task</h4>
                <app-task></app-task>
            </div>
        </div>
    </div>
</app-layout>